.timeline-container {
	font-family: Trebuchet MS, Helvetica, Arial, sans serif;
  font-size: 8pt;
}

#years,#epoca {
	width: 100%;
	font-family: Trebuchet MS, Helvetica, Arial, sans serif;
  font-size: 10pt;
}

